<!DOCTYPE html>
<html>

<head>
    <title>sondR - Current</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

    <style>
        .panel-body{
            padding-bottom: 0px;
        }
    </style>

</head>

<body>

    <center>

    <h1> Current </h1>
    <br>

    <!--  #Topic, Date, Status, Name, Bio, ID -->

    {% for entry in current %}
    <div class="panel panel-primary" id="box_current">

        <div class="panel-heading">
            <span id="topic"> {{entry[0]}} </span>
            {% if status != "searching" %}
            <span id="name"> {{entry[3]}} </span>
            {% endif %}
            <span id="date"> {{entry[1]}} </span>
            <br>
        </div>

        <div class="panel-body">

            {% if entry[2] == "searching" %}

            <div id="left-16"> Searching .   .   .   </div>
            <div style="height: 10px;"></div>

            {% else %}

            <div class="panel panel-default">
                <div class="panel-heading"> <div id="left-16"> {{entry[3]}}'s Bio </div> </div>
                <div class="panel-body"> <div id="left-16">{{entry[4]}} </div> </div>
                <div style="height: 10px;"></div>
            </div>

            {% if entry[2] == "current" %}
            <div class="panel panel-default">

                <div class="panel-heading"> <div id="left-16"> Your Message </div> </div>

                <div class="panel-body">

                    <form action="/current/process/" method="post">

                        <input type="hidden" name="id" value={{entry[5]}}>
                        <textarea class="form-control" rows="5" name="message"></textarea>
                        <div style="height: 10px;"></div>
                        <input type="submit" value="Send" class="btn btn-primary">
                        <div style="height: 10px;"></div>

                    </form>
                </div>

                {% else %}
                <div style="font-size: 16px;">Waiting for {{entry[3]}} to send their message .   .   .  </div>
                <div style="height: 10px;"></div>
                {% endif %}

           </div>

            {% endif %}

        </div>
    </div>
    {% endfor %}

    <a href="/home/" id="button" class="btn btn-primary btn-lg" role="button">Home</a>

    <br><br>

    </center>

</body>

</html>
