<!DOCTYPE html>
<html>

<head>
    <title>sondR - History</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

    <style>
        .panel-body{
            padding-bottom: 0px;
        }
    </style>

</head>

<body>

    <center>

    <h1> History </h1>
    <br>

    {% for entry in history %}
    <div class="panel panel-primary" id="box">

        <div class="panel-heading">
            <span id="topic"> {{entry[1]}} </span>
            <span id="name"> {{entry[0]}} </span>
            <span id="date"> {{entry[2]}} </span>
            <br>
        </div>

        <div class="panel-body">

            <div class="panel panel-default">
                <div class="panel-heading"> <div id="left-16"> Your Bio </div> </div>
                <div class="panel-body"> <div id="left-16">{{entry[3]}} </div> </div>
                <div style="height: 10px;"></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"> <div id="left-16"> {{entry[0]}}'s Response </div> </div>
                <div class="panel-body"> <div id="left-16">{{entry[4]}} </div> </div>
                <div style="height: 10px;"></div>
            </div>

        </div>
    </div>
    {% endfor %}

    <a href="/home/" id="button" class="btn btn-primary btn-lg" role="button">Home</a>

    <br><br>

    </center>

</body>

</html>
