<!DOCTYPE html>
<html>

<head>

    <title>sondR - Home</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

</head>

<body>

    <center>

    <h1> Home </h1>
    <br>
    <p id="p_home"> Welcome, {{user}} </p>
    <p id="p_home">
        You have {{notifications[0]}} New Matches Found and {{notifications[1]}} Newly Completed
        Matches
    </p>
    <br>

    <div class="panel panel-primary" id="box">
        <div class="panel-heading">
            <a href="/new_search/" id="link">New Search</a>
        </div>
        <div class="panel-body">
            <img src="/static/img/rain.jpg" id="image">
        </div>
    </div>


    <div class="panel panel-primary" id="box">
        <div class="panel-heading">
            <a href="/current/" id="link">Current</a>
        </div>
        <div class="panel-body">
            <img src="/static/img/sea.jpg" id="image">
        </div>
    </div>

    <div class="panel panel-primary" id="box">
        <div class="panel-heading">
            <a href="/history/" id="link">History</a>
        </div>
        <div class="panel-body">
            <img src="/static/img/pebble.jpg" id="image">
        </div>
    </div>

    <a href="/" id="button" class="btn btn-primary btn-lg" role="button">Logout</a>
    </br>

    </center>

</body>

</html>
