<!DOCTYPE html>
<html>

<head>
    <title>sondR - Login</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

</head>

<body>

    <center>

    <h1> sondR </h1>
    <h3>A social network with the lights off</h3>

    <br>
    <p id="p_login">
      sondR is a new type of social media platform that does away with all of the fluff
    that plagues our online social footprint. It facilitates the fleeting anonymous connection between
    two people via a common interest so that they can share and receive heartfelt
    recommendations on topics that they are interested in!
    </p>
    <br>

    <div class="panel panel-primary" id="box">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <form action="/verify_login/" method="post">
                <div id="label">Username:</div>
                <input type="text" name="user" id="field" autocomplete="off" size="20">
                <br> <div style="height: 10px;"></div>
                <div id="label">Password:</div>
                <input type="password" name="pswd" id="field" size="20">
                <br> <div style="height: 10px;"></div>
                {%if status=="invalid_login"%}
                    <div id="error_login">Invalid Login Combination</div>
                {%else%}
                    <br>
                {%endif%}

                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>

    <h2> OR </h2>

    <div class="panel panel-primary" id="box">
        <div class="panel-heading">Register</div>
        <div class="panel-body">
            <form action="/register/" method="post">
                <div id="label">Username:</div>
                <input type="text" name="user" id="field" autocomplete="off" size="20">
                <br> <div style="height: 10px;"></div>
                <div id="label">Email:</div>
                <input type="email" name="email" id="field" size="20">
                <br> <div style="height: 10px;"></div>
                <div id="label">Password:</div>
                <input type="password" name="pswd" id="field" size="20">
                <br> <div style="height: 10px;"></div>
                {%if status=="existing_user"%}
                    <div id="error_login">Existing User. Please Login Above.</div>
                {%elif status=="username_taken"%}
                    <div id="error_login">Username Taken. Please Try Again.</div>
                {%elif status=="invalid_password"%}
                    <div id="error_login">Invalid Password: Must be at least 8 characters long</div>
                {%elif status=="invalid_username"%}
                    <div id="error_login">Invalid Username: Contains characters that are not allowed</div>
                {%else%}
                    <br>
                {%endif%}


                <input type="submit" class="btn btn-primary" value="Register">
            </form>
        </div>
    </div>

    <p id="p_login"> Contact us at sondrhelp@gmail.com </p>

    </center>

</body>

</html>
