<!DOCTYPE html>
<html>

<head>
    <title>sondR - New Search</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

</head>

<body>

    <center>

    <h1> New Search </h1>
    <br>
    <p id="p_new_search">
        To begin a new search, enter the field that you are intersted in. To help find something
        that you are interested in and generally have a more enjoyable experience, I encourage
        you to add a little bio about your current interests in the topic (max 400 characters).
    </p>
    <br>

    <form action="/new_search/process/" method="post">

    <div class="panel panel-primary" id="box">
        <div class="panel-heading">
            Topic
        </div>
        <div class="panel-body">
            <input list="topics" name="topic" autocomplete="off" autofocus>
            <datalist id="topics">
                {%for topic in topics%}
                <option value="{{topic}}">
                {%endfor%}
            </datalist>

            {%if status == "invalid_topic" %}
                <div id="error_new_search"> Invalid topic selection </div>
            {%endif%}

        </div>
    </div>

    <div class="panel panel-primary" id="box">
        <div class="panel-heading">
            Bio
        </div>
        <div class="panel-body">
            <textarea class="form-control" rows="5" maxlength="400" name="bio"></textarea>
        </div>
    </div>



    <input type="submit" class="btn btn-primary btn-lg">

    </form>

    </center>

</body>

</html>
