body{
    font-family: 'Poppins', sans-serif;
    background-color: #273C5A;
    font-size: 20px;
}

h1{
    color: #ffffff;
    font-size: 60px;
}

h2{
    color: #ffffff;
    font-size: 30px;
    line-height: 100px;
}

h3{
    color: #bfbfbf;
    font-size: 20px;
}

textarea{
    resize: vertical;
}

#p_home{
    color: #bfbfbf;
}

#p_login{
    color: #bfbfbf;
    width: 800px;
    font-size: 18px;
}

#p_new_search{
    color: #ffffff;
    width: 800px;
    font-size: 16px;
}

#box{
    width: 800px;
}

#box_current{
    width: 800px;
    padding: 0 !important;
}

#link{
    color: #ffffff;
}

#image{
    width: 750px;
    height: 120px;
}

#error_new_search{
    color: red;
    font-size: 15px;
}

#error_login{
    color: red;
    font-size: 15px;
    line-height: 28px;
}

#topic{
    font-size: 24px;
    float: left;
}

#name{
    font-size: 16px;
    float: left;
    padding-top: 8px;
    padding-left: 8px;
}

#date{
    font-size: 16px;
    float: right;
    padding-top: 8px;
}

#left-16{
    font-size: 16px;
    text-align: left;
}

#button{
    color: #ffffff;
}

#field {
    float: right;
    margin-right: 110px;
}

#label {
    float: left;
    margin-left: 110px;
}
